/* 
header{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
}

header::after {
    content: "";
    background: url(./images/joshua-bartell-6vvIBTvL90A-unsplash.jpg);
    background-size: cover;
    opacity: 0.75;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
} */


